<!DOCTYPE html>
<html lang="en">
<head>
<title>OkTik – The Digital Workplace</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="Expires" content="0">
<meta property="og:site_name" content="OkTik | The Digital Workplace ®">
<meta property="og:type" content="website">
<meta property="og:title" content="OkTik | The Digital Workplace ®">
<meta property="og:url" content="hhttps://www.oktik.net/">
<meta property="og:description" content="OkTik brings together the latest workplace technologies to deliver impactful solutions for your Enterprise IT requirements. We provide the personnel, expertise and tools to accelerate and deliver even the most complex workplace transformation.">
<link rel="icon" type="image/x-icon" href="../photos/logo/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css" integrity="sha512-kCvsy+EQTW5w/iKoI6LuPIfaDvXtMv2rkkIYdZr6un5+nGTp28w4xvyvjdUwreUobgR2RFeepd5tAYZdSbOMRQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css" integrity="sha512-1ooNNmIQGmVp9lNfyNxcTgNc2FuIu/jdsQ/nHDZBDy7MP0/60wyxM7VxZTmCKfAu3r8SLJgOYbaUBhpCsQP8dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css" integrity="sha512-nSomje7hTV0g6A5X/lEZq8koYb5XZtrWD7GU2+aIJD35CePx89oxSM+S7k3hqNSpHajFbtmrjavZFxSEfl6pQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="./card.css">
<script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
 <!-- Loading overlay -->
 <div class="loading-overlay">
    <div class="loading-spinner"></div>
</div>
<header>
    <div class="header-container">
        <a href="#" class="logo"><img src="../photos/logo/OKTik Logo Final_OKTik Blue Logo.png" alt="" style="float:left;"></a>
        <button class="mobile-menu-btn" id="mobileMenuBtn">
            <i class="fas fa-bars"></i>
        </button>
        <nav class="nav-menu" id="nav-menu">
            <a href="#" class="nav-link active home_to">Home</a>
            <a href="#about" class="nav-link">About</a>
            <a href="#products" class="nav-link">Products</a>
            <a href="#services" class="nav-link">Services</a>
            <a href="#experience" class="nav-link">User experience</a>
            <a href="#media" class="nav-link">Media and partners</a>
            <a href="#study" class="nav-link">Case studies</a>
            <a href="#contact" class="nav-link">Contact us</a>
        </nav>
    </div>
</header>
<main>
    
    <section id="home" class="section home">
        <div class="hero-slider hero-style">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="../photos/hero/01.png" data-background-mobile="../photos/hero/01Mobile.png">
                      <div class="container_hero">
                        <div data-swiper-parallax="300" class="slide-title">
                          <h2>Masters of Microsoft 365<br> 
                              tenant-to-tenant migrations</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text">
                          <p>
                              OkTik are Migration Masters. We simplify complex migrations and greatly reduce costs while minimising user disruption. Additionally, our OneTik toolset offers our customers the chance to rapidly inventory their environment to optimise license usage, inventory platform in readiness for transition, or perform enhanced asset management.
                          </p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns">
                          <a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/oktiktechnologyltd1583835492819.onetik_test?tab=overview" type="button" class="btn btn-primary btn-lg shiny-button">
                              Available on <img src="../photos/logo/Microsoft_logo_(2012) 1.png" alt="OkTik"> Azure Marketplace

                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- end slide-inner -->
                  </div>
                  <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="../photos/hero/02.png" data-background-mobile="../photos/hero/02Mobile.png">
                      <div class="container_hero">
                        <div data-swiper-parallax="300" class="slide-title">
                          <img src="../photos/slider OneTik Logo 1.png" alt="">
                        </div>
                        <div class="row_space"></div>
                        <div data-swiper-parallax="400" class="slide-text">
                          <h1>Tenant-to-tenant migrations,<br> 
                              automated Windows upgrade projects</h1>
                              <p class="uppercase"> OneTik is a fully Co-sell <br>
                              transactable SaaS solution</p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns">
                          <a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/oktiktechnologyltd1583835492819.onetik_test?tab=overview" type="button" class="btn btn-primary btn-lg shiny-button">
                              Available on <img src="../photos/logo/Microsoft_logo_(2012) 1.png" alt="OkTik"> Azure Marketplace
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- end slide-inner -->
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-inner slide-bg-image" data-background="../photos/hero/03.png" data-background-mobile="../photos/hero/03Mobile.png">
                        <div class="container_hero">
                          <div data-swiper-parallax="300" class="slide-title">
                              <img src="../photos/slider OneTik Logo 1.png" alt="">
                          </div>
                          <div class="row_space"></div>
                          <div data-swiper-parallax="400" class="slide-text">
                            <h1>OneTik Inventory</h1>
                            <p class="uppercase">Rapidly identify your environment <br> readiness for migration or upgrade</p>
                          </div>
                          <div class="clearfix"></div>
                          <div data-swiper-parallax="500" class="slide-btns">
                              <a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/oktiktechnologyltd1583835492819.onetik_test?tab=overview" type="button" class="btn btn-primary btn-lg shiny-button">
                                  Available on <img src="../photos/logo/Microsoft_logo_(2012) 1.png" alt="OkTik"> Azure Marketplace

                              </a>
                          </div>
                        </div>
                      </div>
                      <!-- end slide-inner -->
                    </div>
                  <div class="swiper-slide">
                      <div class="slide-inner slide-bg-image" data-background="../photos/hero/04.png" data-background-mobile="../photos/hero/04Mobile.png">
                        <div class="container_hero">
                          <div data-swiper-parallax="300" class="slide-title">
                              <img src="../photos/slider OneTik Logo 1.png" alt="">
                          </div>
                          <div class="row_space"></div>
                          <div data-swiper-parallax="400" class="slide-text">
                            <h1>OneTik Tenant Migrator</h>
                            <p class="uppercase">Orchestrate and Automate the <br> transition FOR all Azure services</p>
                          </div>
                          <div class="clearfix"></div>
                          <div data-swiper-parallax="500" class="slide-btns">
                              <a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/oktiktechnologyltd1583835492819.onetik_test?tab=overview" type="button" class="btn btn-primary btn-lg shiny-button">
                                  Available on <img src="../photos/logo/Microsoft_logo_(2012) 1.png" alt="OKTik"> Azure Marketplace

                              </a>
                          </div>
                        </div>
                      </div>
                      <!-- end slide-inner -->
                    </div>
                  <div class="swiper-slide">
                      <div class="slide-inner slide-bg-image" data-background="../photos/hero/05.png" data-background-mobile="../photos/hero/05Mobile.png">
                        <div class="container_hero">
                          <div data-swiper-parallax="300" class="slide-title">
                           <img src="../photos/slider OneTik Logo 1.png" alt="">
                          </div>
                          <div class="row_space"></div>
                          <div data-swiper-parallax="400" class="slide-text">
                            <h1>OneTik Asset Management</h1>
                            <p class="uppercase"> Monitor and report on Asset location,<br> health and status</p>
                          </div>
                          <div class="clearfix"></div>
                          <div data-swiper-parallax="500" class="slide-btns">
                              <a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/oktiktechnologyltd1583835492819.onetik_test?tab=overview" type="button" class="btn btn-primary btn-lg">
                                  Available on <img src="../photos/logo/Microsoft_logo_(2012) 1.png" alt="OkTik"> Azure Marketplace

                              </a>
                          </div>
                          
                        </div>
                      </div>
                      <!-- end slide-inner -->
                    </div>
                </div>
                <!-- end swiper-wrapper -->
                <!-- swipper controls -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
        </div>
        
    </section>
    <section id="about" class="section about">
        <div class="container ">
            <div class="row">
                <div class="col subheading  text-center about-subtitle">
                    <h1>Why we are different</h1>
                </div>
            </div>
            <div class="row_space_in"></div>
            <div class="row">
                <div class="col">
                    <div class="card card_size_a">
                        <img src="../photos/carousel/rec1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">A team of leading industry experts dedicated to digital workplace transformation and management.</p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card card_size_a" >
                        <img src="../photos/carousel/rec2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">One-click user-led automated migration  simplifies the complexity, is flexible and outcome-orientated.</p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card card_size_a" >
                        <img src="../photos/carousel/rec3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Extensive endpoint information is captured and stored in Microsoft Azure.</p>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card card_size_a">
                        <img src="../photos/carousel/rec4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Dashboards to report on both user and data migration processes enable quick adjustment to unforeseen technical or environmental blockers.</p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card card_size_a" >
                        <img src="../photos/carousel/rec5.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">The migration of the entire end-user environment is automated, and user settings are restored without manual intervention.</p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card card_size_a" >
                        <img src="../photos/carousel/rec6.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">OkTik delivery is a combination of Microsoft Azure Marketplace Tools and best-in-class professional services.</p>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row_space"></div>
            <div class="row_space"></div>
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col">
                            <p>
                                OkTik is a niche, specialist consultancy with many years experience in successfully delivering large scale transformation programs. We accelerate the delivery of programs, avoid end-user disruption and reduce transformation costs.
                            </p>
                        </div>
                    </div>
                    <div class="row_space"></div>
                    <div class="row">
                        <div class="col">
                            <div class="card card_size_b " >
                                <img src="../photos/carousel/rec7.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">OkTik delivery is a combination on Microsoft Azure Marketplace Tools and best in class professional services.</p>
                                </div>
                              </div>
                        </div>
                        <div class="col">
                            <div class="card card_size_b" >
                                <img src="../photos/carousel/rec8.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">We deal in both cloud and hybrid environments, across public and private networks, and deliver a secure-by-design approach, verified by Microsoft and other large enterprise clients.</p>
                                </div>
                              </div>
                        </div>
                        <div class="col">
                            <div class="card card_size_b">
                                <img src="../photos/carousel/rec9.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">For a global project, user scenarios are carefully defined, assessing geographic differences based on local
                                    in-country needs.</p>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 side_text_style">
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li> <img src="../photos/logo/cocacola logo.png" alt="Coca-Cola" ></li>
                                <li><a href="#study" class="side-button">Read the case study</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>Microsoft Workplace </li>
                                <li>Experts, possessing the</li>
                                <li>Highest-level Microsoft</li>
                                <li>Technical accreditations</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>20+ years’ experience in </li>
                                <li>Large scale complex</li>
                                <li>Enterprise transformations</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>>200,000 clients </li>
                                <li>using OneTik</li>
                                <li>Automation Software</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row_space"></div>
            <div class="row">
                <div class="col subheading ">
                    <h1>
                        Scenarios and use cases
                    </h1>
                </div>
            </div>
            <div class="row_space_in"></div>
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col">
                            <div class="card card_size_c" >
                                <div class="card-img"><img src="../photos/rec11.png" class="card-img-top icon" alt="..."></div>
                                <div class="card-body">
                                  <p class="card-text">MNC, Large enterprises 
                                    with over 2000 users.</p>
                                </div>
                              </div>
                        </div>
                        <div class="col">
                            <div class="card card_size_c" >
                                <div class="card-img"><img src="../photos/rec112.png" class="card-img-top icon" alt="..."></div>
                                <div class="card-body">
                                  <p class="card-text">Finance or IT leasing 
                                    companies wishing to track, 
                                    optimise and better manage 
                                    their assets and consumption.</p>
                                </div>
                              </div>
                        </div>
                        <div class="col">
                            <div class="card card_size_c">
                                <div class="card-img"><img src="../photos/rec12.png" class="card-img-top icon" alt="..."></div>
                                <div class="card-body">
                                  <p class="card-text">Corporations in M&A activities, 
                                    with a hard deadline to complete integration of the entities.</p>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card card_size_c">
                                <div class="card-img"><img src="../photos/rec13.png" class="card-img-top icon" alt="..."></div>
                                <div class="card-body">
                                  <p class="card-text">Enterprises planning for 
                                    Windows 11\Exchange upgrades 
                                    before EOL deadline.</p>
                                </div>
                              </div>
                        </div>
                        <div class="col">
                            <div class="card card_size_c">
                                <div class="card-img"><img src="../photos/rec14.png" class="card-img-top icon" alt="..."></div>
                                <div class="card-body">
                                  <p class="card-text">Enterprises who need to get an accurate view of license utilisation to justify their M365 investment.</p>
                                </div>
                              </div>
                        </div>
                        <div class="col">
                            <div class="card card_size_c">
                                <div class="card-img">
                                    <img src="../photos/rec15.png" class="card-img-top icon" alt="...">
                                </div>
                                
                                <div class="card-body">
                                  <p class="card-text">Enterprises who need to build an inventory of their endpoint assets or look for compliance gaps: i.e.: local data not synced to OneDrive, unauthorised local admin accounts or local risks in workplace security.</p>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 side_text_style">
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>Microsoft Workplace </li>
                                <li>experts, possessing the</li>
                                <li>Highest-level Microsoft</li>
                                <li>technical accreditations</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row_space"></div>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>20+ years’ experience in </li>
                                <li>large scale complex</li>
                                <li>enterprise transformations</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row_space"></div>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>>200,000 clients </li>
                                <li>using OneTik</li>
                                <li>Automation Software</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row_space"></div>
                    <div class="row">
                        <div class="col">
                            <div class="card Accreditations">
                                <div class="row">
                                    <div class="col b">
                                        <h1>Accreditations</h1>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col">
                                        <img src="../photos/01 MS AI Cloud Partner Logo.png" alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <img src="../photos/02 MS AI Cloud Partner Logo.png" alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <img src="../photos/Microsoft_Azure 1.png" alt="">
                                    </div>
                                </div>

    
                              </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </section>
    <section id="products" class="section products">
        <div class="container">
            <div class="row">
                <div class="col subheading ">
                    <h1>Products</h1>
                    <p>
                        The product suite comprises of:
                    </p>
                </div>
            </div>
            <div class="row_space_in"></div>
            <div class="row dark-card" >
                <div class="col">
                    <div>
                        <div class="skills-img">
                            <img src="../photos/carousel/p1.png" class="card-img-top " alt="...">
                        </div>
                        
                        <div class="card-body">
                            <h1 class="skills-name">OneTik</h1>
                          <p class="skills-name">License Management</p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div >
                        <img src="../photos/carousel/p2.png" class="card-img-top skills-img" alt="...">
                        <div class="card-body">
                            <h1 class="skills-name">OneTik</h1>
                            <p class="skills-name">Environment Inventory</p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div>
                        <img src="../photos/carousel/p3.png" class="card-img-top skills-img" alt="...">
                        <div class="card-body">
                            <h1 class="skills-name">OneTik</h1>
                            <p class="skills-name">Tenant Migrator</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div >
                        <img src="../photos/carousel/p4.png" class="card-img-top skills-img" alt="...">
                        <div class="card-body">
                            <h1 class="skills-name">OneTik</h1>
                            <p class="skills-name">Asset Management</p>
                         
                        </div>
                      </div>
                </div>
            </div>
            <div class="row_space"></div>
            <div class="row">
                <div class="col">
                    <a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/oktiktechnologyltd1583835492819.onetik_test?tab=overview" type="button" class="btn btn-primary btn-lg shiny-button">
                        Available on <img src="../photos/logo/Microsoft_logo_(2012) 1.png" alt="OkTik"> Azure Marketplace

                    </a>
                </div>
            </div>
            <div class="row hope">
                <div class="col-10">
                    <div id="sync1" class="owl-carousel owl-theme">
                        <div class="item">
                            
                            <div class="tab-pane " id="licenseManagement">
                                <h1 class="carousel_card">OneTik License Management</h1>
                                <div class="row_space_in"></div>
                                <p>
                                    Workplace priorities and productivity demands are always evolving. Often, Azure and
                                    Microsoft 365 licenses are not monitored, and typically users in an organization are not
                                    fully utilising all license features. Often licenses are auto-assigned a higher tier of MS
                                    license than required, or an employee leaves the company and the license remains
                                    active – all contributing towards an unnecessary overspend.

                                </p>
                                <p>
                                    If you’re looking for or an intuitive, customisable, adaptable reporting interface to
                                    maximise your MS license investment, with the potential to extend to other vendor
                                    license modules, OneTik Saas is ready to transform your organisation.

                                </p>
                                    <ul>
                                        <li>Multi-tenant discovery in a single click with a customized reporting interface,
                                            powered by AI</li>
                                        <li>
                                            Audit and identify areas for improved adoption, efficiency and training, and
                                            reduction of unnecessary license overspend
                                        </li>
                                        <li>Full Microsoft License analytics engine running in MS Azure, which analyses
                                            users in Realtime</li>
                                        <li>Flexible customer pricing – the cost of tool is covered within identified annual
                                            savings</li>
                                        <li>Available via Azure Marketplace (link) and attainable via existing EA/MACC</li>
                                    </ul>
                                    
                              </div>
                        </div>
                        <div class="item">

                              <div class="tab-pane" id="environmentInventory">

                                <h1 class="carousel_card">OneTik Environment Inventory</h1>
                                <div class="row_space_in"></div>
                                <p>Manual Windows upgrades to a user estate are both costly and time-consuming, and in
                                    planning for the immimnent Windows 10 and Exchange on-premise end of life in 2025,
                                    organisations need a Microsoft partner with the highest level of accreditation to facilitate
                                    and expediate this level of change</p>

                                    <ul>
                                        <li>Solve inter-operability and compatibility issues with hardware and applications
                                            without disruption</li>
                                        <li>
                                            Remote (including home-based) users receive an upgrade without the need to
                                            visit the office
                                        </li>
                                        <li>Ensures your estate is Co-Pilot ready to maximise future investment</li>
                                        <li>Identifies risk areas for Compliance and Security Assessments</li>
                                        <li>Customisable interface for inventory capture and reporting</li>
                                        <li>Monitor user backup of data to OneDrive and monitor and report on Sync status</li>
                                    </ul>
                                    
                              </div>
                        </div>
                        <div class="item">
                           
                            <div class="tab-pane" id="tenantMigrator">
                                
                                <h1 class="carousel_card">OneTik Tenant Migrator</h1>
                                <div class="row_space_in"></div>
                                <p>A merger, acquisition or divestiture determines the need for a complex workplace
                                    service migration.</p>

                                    <ul>
                                        <li>Perform migrations with zero user impact, without operational disruption, and
                                            account for multiple user use-cases which are systematically assessed and
                                            recorded</li>
                                        <li>
                                            Ensures the best possible end-user experience by performing a single process
                                            rather than multiple migration projects over time
                                        </li>
                                        <li>Migrate users with a single-click and receive rapid issue identification</li>
                                        <li>Absolute assurance for zero data loss, security and outcomes</li>
                                    </ul>
                                   
                              </div>
                        </div>
                        <div class="item">
                            
                            <div class="tab-pane active" id="assetManagement">
                                
                                <h1 class="carousel_card">OneTik Asset Management</h1>
                                <div class="row_space_in"></div>
                                <p>OkTik  offers a white-label asset management solution. Enabling IT Asset Finance and Leasing companies  to brand the client interface as their own, enhancing brand visibility and reinforcing client loyalty.</p>

                                    <h3>Through our robust asset and endpoint management platform, OneTik will:</h3>
                                    <ul>
                                        <li>Manage and oversee all financed IT assets under your current agreements as sub-tenants, providing visibility and control throughout the asset lifecycle.</li>
                                        <li>
                                            Generate additional income streams for Finance and Leasing companies by integrating value-added IT services directly into your finance agreements, eliminating the client's need to seek external budget approvals.
                                        </li>
                                        <li>Offer seamless migrations, Microsoft upgrades, device roll-outs, and comprehensive device management, significantly reducing complexity for your clients.</li>
                                        <li>Enable your clients to extend OneTik’s endpoint management services to their entire device estate, financed or not, generating consistent and predictable additional revenue for Partners.</li>
                                    </ul>
                                    <h3 class="">Features</h3>
                                    <h3 class="">Asset Management:</h3>
                                    <ul>
                                        <li>Real-time asset tracking and inventory management</li>
                                        <li>Lifecycle management and reporting</li>
                                        <li>Remote monitoring and management</li>
                                    </ul>
                              </div>
                        </div>
                    </div>

                </div>

                <div class="col-2">
                    <div class="row in_styling">
                        <div class="col c-space">
                            <ul>
                                <li> <br></li>
                                <li>Orchestration </li>
                                <li> <br></li>
                            
                            </ul>
                        </div>
                <div class="col  c-space">
                    <ul>
                        <li> <br></li>
                        <li>Automation </li>
                        <li> <br></li>
                       
                    </ul>
                </div>
                <div class="col  c-space">
                    <ul>
                        <li>>200,000 clients using OneTik</li>
                        <li>Automation Software</li>
                       
                    </ul>
                </div>
                <div class="col  c-space">
                    <ul>
                        <li>20+ years’ experience in large  </li>
                        <li>scale complex enterprise </li>
                        <li>transformations</li>
                       
                    </ul>
                </div>
            </div>
                </div>

        </div>
    </section>
    <section id="services" class="services section ">
        <div class="container ">
            <div class="row">
                <div class="col subheading ">
                    <h1>Services</h1>
                </div>
            </div>
            <div class="row_space_in"></div>
            <div class="row">
                <div class="col ">
                    <p>Our Tactical SME teams undertake specific objectives at a fixed price with guaranteed outcomes, which can be adapted to work through SI’s and Partners.  Our teams possess the highest level of accreditation available to the specific technical disciplines we provide.</p>
                </div>
            </div>
            <div class="row_space"></div>
            <div class="row areas_benefits">
                <div class="col">
                    <h1 class="">Our areas of expertise</h1>
                    <div class="row_space"></div>
                    <ul>
                        <li>Advanced Identity and AD, Entra ID Management and automation</li>
                        <li>Messaging and communications</li>
                        <li>Device and mobility management</li>
                        <li>Workplace inventory and asset management</li>
                        <li>Application inventory and management</li>
                        <li>Automation and Orchestration</li>
                        <li>End User Adoption Support and Training</li>
                        <li>Readiness and remediation activities for migration or transformation programs</li>
                        <li>Program design for detailed planning and investment case production</li>
                        <li>Outsourced Technical Assurance and Design</li>
                    </ul>
                </div>
                <div class="col">
                    <h1 class="">Customer benefits</h1>
                    <div class="row_space"></div>
                    <ul>
                        <li>Minimal disruption to users in transition</li>
                        <li>Users migrated in just one step</li>
                        <li>Predicable outcomes in complex projects</li>
                        <li>Software tools adapted to meet your unique needs and accelerate the change</li>
                        <li>A team of industry experts working with you every step of the way</li>
                        <li>Workplace and endpoint data and managed in a central database</li>
                        <li>Clear and accurate cost management</li>
                        <li>Clear communication for all management levels backed by real time data </li>
                    </ul>
                </div>
            </div>

        </div>

    </section >
    <section id="experience" class="customer section">
        <div class="container">
            <div class="card text-left">
                <div class="row">
                    <div class="col subheading ">
                        <h1>User experience</h1>
                    </div>
                </div>
                <div class="row_space_in"></div>
                <div class="row">
                    <div class="col icons_">
                        <p>OkTik professional service and software is user-centric by design. 
                            We are flexible and adaptable with our delivery and our toolsets, 
                            and software can be easily customised to meet specific end user requirements.</p>
                    </div>
                </div>
                <div class="row_space"></div>
                <div class="row">
                    <div class="col ">
                        <h3>An improved end-user experience</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col icons_">
                        <p>
                            In the background, the OkTik transformation team monitor and review automated processes, 
                            focusing efforts on exceptions and problems before they occur. This user-driven migration approach 
                            helps reduce the cost of deployment, whilst providing a better end user experience. 
                            We are able to integrate and orchestrate with third party-products.
                        </p>
                    </div>
                </div>
                <div class="row_space"></div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col ">
                                <img src="../photos/u1.png" alt="OkTik" class="skills-img">
                            </div>
                        </div>
                        <div class="row_space"></div>
                        <div class="row">
                            <div class="col">
                                <h5 class="skills-name">Automated </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="../photos/u2.png" alt="OkTik" class="skills-img">
                        <div class="row_space"></div>
                        <h5 class="skills-name">Zero data loss</h5>
                    </div>
                    <div class="col">
                        <img src="../photos/u3.png" alt="OkTik" class="skills-img">
                        <div class="row_space"></div>
                        <h5 class="skills-name">Complex problem solving</h5>
                    </div>
                </div>
            </div>
            <div class="row_space"></div>
            <div class="row">
                <div class="col-10">
                    <h3 class="subheading ">A real end user example of a failed upgrade</h3>
                    <div class="row_space_in"></div>
                    <div class="inner-card-container">
                        <div class="img-card" >
                            <picture>
                                <source srcset="../photos/gifs/OKTik-Site-Advert-Mobile.gif" media="(max-width: 600px)">
                                <source srcset="../photos/gifs/OKTik-Site-Advert-Desktop.gif" media="(max-width: 1500px)">
                                <img src="../photos/gifs/OKTik-Site-Advert-Desktop.gif" alt="">
                            </picture>
                        </div>
                        
                    </div>
                    <!-- <div class="inner-card-container">
                        <div class="card blue-card " style="background-image: linear-gradient(#174887, #062E62);">
                            <div class="inner-blue-card">
                                <h1 class="">Bill’s been saving all his<span> MOST IMPORTANT</span> files in a special 
                                    place for years.</h1>
                                    <div class="row_space"></div>
                                <h3 class="">His desktop</h3> 
                                <div class="row_space"></div>
                                <p>
                                    Last weekend, Bill’s company
                                    migrated all their computers
                                    from Windows 10 to Windows 11. Leaving Bill with a pretty picture,
                                    but sadly none of his files due to data loss through non-automated or poorly planned upgrades.
                                </p>
                                <div class="row_space"></div>
                                <h3 class="">if only they’d used</h3>
                                <div class="row_space"></div>
                                <img class="white_logo" src="../photos/OKTik Logo white.png" alt="OKTik">
                                <img class="desktop" src="../photos/Desktop.png" alt="OKTik">
                            </div> 
                        </div>
                    </div> -->
                    
                </div>
                <div class="col-2 side_text_style d_side_">
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>Migration of 600TBs</li>
                                <li> in 6 months</li>
   
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>Microsoft AI </li>
                                <li>Cloud Partner</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>ISV Success </li>
                                <li>Programme</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row_space"></div>
            <div class="row video_card">
                <div class="col">
                    <iframe width="1381" height="777" src="https://www.youtube.com/embed/76icadL358w" title="OneTik Benefits and Use Cases" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <section id="media" class="media section">
        <div class="container">
            <div class="row">
                <div class="col subheading ">
                    <h1>Media and partners</h1>
                </div>
            </div>
            <div class="row_space"></div>
            <div class="row">
                <div class="col-9">
                    <div class="row smart-card">
                        <div class="col-2">
                            <img src="../photos/m1.png" alt="OkTik">
                        </div>
                        <div class="col-10">
                            <h4>Coca-Cola European Partners build a single digital workforce</h4>
                            <p>Flexibility is the key to adapting in a disruptive business environment and CCEP, the largest independent Coca-Cola bottler, is leading the way with a digital, mobile workforce…</p>
                            <a href="https://www.raconteur.net/sponsored/coca-cola-european-partners-build-a-single-digital-workforce" class="side-button">read more</a>
                        </div>
                    </div>
                    <div class="row smart-card">
                        <div class="col-2">
                            <img src="../photos/m2.png" alt="OkTik">
                        </div>
                        <div class="col-10">
                            <h4>Boutique beats big in the digital workplace</h4>
                            <p>Enterprises are racing to embrace the digital workplace, but the traditional route of engaging large IT consultancies is not driving the transformation needed to get there…</p>
                            <a href="https://www.raconteur.net/sponsored/boutique-beats-big-in-the-digital-workplace" class="side-button">read more</a>
                        </div>
                    </div>
                    <div class="row smart-card">
                        <div class="col-2">
                            <img src="../photos/m3.png" alt="OkTik">
                        </div>
                        <div class="col-10">
                            <h4>OkTik: The ‘Masters of Migration’ look to Crayon for growth</h4>
                            <p>OkTik successfully automated the technology integration of 50,000 Coca-Cola employees and has now partnered with Crayon to make its OneTik migration platform accessible to a broader range of organizations.</p>
                            <a href="https://www.crayon.com/channel-partner/resources/partner-stories/oktik/" class="side-button">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-3 side_text_style">
                    <div class="row">
                        <div class="col">
                            <ul class="side_logos">
                                <li>
                                    <div class="row"><img src="../photos/Microsoft_logo_(2012).png" alt=""></div>
                                </li>
                            </ul>
                            <ul class="side_logos">
                                <li>
                                    <div class="row"><img src="../photos/crayon-group-logo-vector.png" alt=""></div>
                                </li>
                            </ul>
                            <ul class="side_logos">
                                <li>
                                    <div class="row"><img src="../photos/Logo_TD_SYNNEX.png" alt=""></div>
                                </li>
                            </ul>
                        </div>
                       
                    </div>
          
                       
                        
                    
                </div>
            </div>
        </div>
    </section>
    <section id="study" class="study section">
        <div class="container">
            <div class="row cola-header">
                <div class="col-9 subheading  next_cola">
                    <h1>Customer case study</h1>
                </div>
                <div class="col-3">
                    <img class="COCA-COLA" src="../photos/logo/cocacola logo.png" alt="COCA-COLA">
                </div>
            </div>
            <div class="row_space_in"></div>
            <div class="row ">
                <div class="col-9 border-card">
                    <h1>OkTik, COCA-COLA EUROPACIFIC PARTNERS AND OneTik</h1>
                    <p>Coca-Cola Europacific Partners (CCEP) is the largest global Coca-Cola franchised bottling and distribution partner operating in Europe and Asia-Pacific, employing over 50,000 people. It relies on Microsoft technologies to deliver workplace services that digitally enable the business. CCEP was created from the merger of several large European businesses and the Asia-Pacific business of Coca Cola Amatil.</p>
                    <p>CCEP is a fast-moving consumer business. To accelerate growth, their mission was to deliver a single integrated digital workplace using Microsoft M365. The challenge was how to understand multiple IT legacies in the business units and to engineer a rapid move to the new platform while minimizing user impact and costs, while maintaining zero data loss. Traditional manually driven approaches were deemed to be too costly, risky & time-consuming. With a geographical spread from northern Europe to southern Asia-Pacific, the projects had to be delivered remotely.</p>
                    <p>OkTik and CCEP worked together using OneTik to deliver an extensive migration of legacy workplace – devices, apps and users – to a single M365 digital workplace environment. All remotely and at scale, with user migration volumes of at least several hundred per day.</p>
                    <p>OkTik was able to automate the whole process of discovery, preparation, migration and overall project management to hit CCEP’s goals. Remote delivery through Azure ensured connectivity to all the global businesses. Cloud-based services, device management, OS, security and user access were all migrated in one go using a single click automated method to minimise change for the user. Powerful real-time dashboards empowered management control, engineering decisions and exemplary user support without impact to the business.</p>
                </div>
                <div class="col-3 side_text_style set_">
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>53bn merger </li>
                                <li>30 000 users </li>
                                <li>7 countries </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>We identified savings  </li>
                                <li>for CCEP of approx. </li>
                                <li>$500,000 per year </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>“To deliver complex change, you need to work effectively with third parties; OkTik truly integrated with us, creating a one team spirit focused on solutions.”
                                    <br><br>
                                    Neil Charlton, <br>
                                    <span class="font-change"><em>Director of Technology Solution Delivery,</em> </span>Coca-Cola EuroPacific Partners
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    

                </div>
            </div>

        </div>
    </section>
    <section id="contact" class="contact section">
        
        <div class="container">
           
            
            <div class="row">
                <div class="col subheading  text-center">
                    <h1>Contact us today</h1>
                </div>
            </div>
            <div class="row">
                <div class="col subheading  text-center">
                    <div data-swiper-parallax="500" class="slide-btns contact-btn-container">
                        <a href="http://outlook.office365.com/" type="button" class="contact-btn btn btn-lg shiny-button">
                            <img src="../photos/logo/sales@oktik.net.png" alt="OkTik">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row_space_in"></div>
            
            <!-- <form action="./connect" id="contact" name="emailContact" method="post">
                <div class="row form ">
                    <div class="col">
                        <div class="row contact-input">
                            <label for="First name">Name</label>
                            <input type="text" class="form-control" name="firstName" required placeholder="">
                        </div>
    
                        <div class="row contact-input">
                            <label for="Last name">Surname</label>
                            <input type="text" class="form-control" name="lastName" required placeholder="">
                        </div>
    
                        <div class="row contact-input">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control testHieght" name="email" required placeholder="">
                        </div>
    
                        <div class="row contact-input">
                            <label for="message">Message</label>
                    
                            <textarea rows="4" cols="50" id="message" name="message"  placeholder=""></textarea>
                        </div>
    
                        <div name="send" value="submit" type="submit" class="row contact-button"><button>submit</button></div>
                        
                    </div>
                </div>
            </form> -->
            
        </div>
       
    </section>
    
</main>

<footer>
    <div class="footer-container">
        <div class="row">
            <div class="col-4">
                <img src="../photos/logo/OKTik OneTik Logos_OKTik Logo White No POL-09.png" alt="OkTik" >
            </div>
            <div class="col-8">
                <div class="row text-align-left">
                    <div class="col ">
                        <h5>Cyprus</h5>
                        <ul>
                            <li> John Kennedy Avenue</li>
                            <li>Suite 305 </li>
                            <li>Nicosia CY 1087</li>
                            <li>Cyprus</li>
                        </ul>

                    </div>
                    <div class="col ">
                        <h5>UK</h5>
                        <ul>
                            <li> 1 Rushmills</li>
                            <li>Northampton</li>
                            <li>NN4 7YB</li>
                            <li>info@oktik.net</li>
                        </ul>

                    </div>
                    <div class="col">
                        <h5>Hong Kong</h5>
                        <ul>
                            <li> Unit A 15th floor</li>
                            <li> 283 Queens Road Central</li>
                            <li>Hong Kong</li>
                            <li>Tel: +852 28826378</li>
                            <li> info@OkTik.net</li>
                        </ul>

                    </div>
                    <div class="col">
                        <h5>OkTik Technology LTD
                            Reg No. 09923383
                            Vat No. GB292769353</h5>

                    </div>

                </div>
                <div class="row">
                    <div class="col terms">
                        <p>OkTik Technology LTD. Reg No. 09923383. Vat No. GB292769353 <a href="https://oktik-net.azurewebsites.net/terms-conditions">Terms and conditions</a> | <a href="https://www.oktik.net/privacy-policy">Privacy Policy</a> </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div class="copyright">
        © 2025 <a href="#">OkTik</a>. All rights reserved.
    </div>
</footer>

<!-- Back to top button -->
<div class="back-to-top" id="backToTop">
    <i class="fas fa-chevron-up"></i>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js" integrity="sha512-ZHauUc/vByS6JUz/Hl1o8s2kd4QJVLAbkz8clgjtbKUJT+AG1c735aMtVLJftKQYo+LD62QryvoNa+uqy+rCHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="./slider.js"></script>
<script src="./loader.js"></script>
<script src="./nav.js"></script>

<script src="./leonam-silva-de-souza.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" integrity="sha512-QAV866KcCo2YSgj8D7BW+Zn3Fe5wVKTWwzKtWy8mkW+tePcJL7JYilvdfrBFQcdz4ODD48GpIPnhTp9UDI37uw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha512-egJ/Y+22P9NQ9aIyVCh0VCOsfydyn8eNmqBy+y2CnJG+fpRIxXMS6jbWP8tVKp0jp+NO5n8WtMUAnNnGoJKi4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js" integrity="sha512-VwGGxhBX+8KC2dD2SwKEugEEsat6flDmaGqegLQ9ku7zKg+GERUd5/ymbcBhNMGxOr+jan1bcmIIHwzZf0gajA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./card.js"></script>


</body>
</html>
   