
:root {
    --primary-color: #3a6ea5;
    --secondary-color: #174887;
    --accent-color: #0095da;
    --light-gray: #F2F2F7;
    --dark-gray: #333;
    --text-color: #000;
    --white: #ffffff;
    --border-radius: 8px;
    --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    --header-dark-gray:#F0EFEF;
    --web-primary-color:#0095DA;
    --web-secondary-color:#0D4689;
    --foreground: #424242;

    --elevation-z1: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --elevation-z2: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  --hover: rgba(255, 255, 255, 0.04);
  --thumb: rgba(0, 0, 0, 0.25);
  --min-width: 100%x;
  --max-width: 100%;

  --header-text-color:#174887;
  --side_text_color: #000;

}
.c-space{
  margin-bottom: 40px;
}
.owl-carousel{
  /* width: 85%; */
}
#sync1 {
    .item {
      background: v(--light-gray);
      margin: 5px;
      color: var(--text-color);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: left;

      
    }
    border: 1px solid #d6d6d6;
    border-radius: 17px;
    margin-top: 80px;
    padding-left: 55px;
    padding-right: 55px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  .owl-theme .owl-dots .owl-dot span{
    border: 1px solid var(--accent-color);
    background: #00000000;
    width: 15px;
    height: 15px;
  }
  .owl-theme .owl-dots .owl-dot.active span{
    background: var(--accent-color);
  }
  .owl-theme {
    .owl-nav {
      /*default owl-theme theme reset .disabled:hover links */
      [class*='owl-'] {
        transition: all .3s ease;
        &.disabled:hover {
         background-color: #D6D6D6;
        }   
      }
      
    }
  }
  
  #sync1.owl-theme {
    position: relative;
    .owl-next, .owl-prev {
      width: 22px;
      height: 40px;
      margin-top: -20px;
      position: absolute;
      top: 50%;
    }
    .owl-prev {
      left: 10px;
    }
    .owl-next {
      right: 10px;
    }
  }